.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: #A07068;
  font-family: 'Playfair Display', serif;
}
.bookphotoClass{
  width: 100%;
  height: auto;
}
.hometext1{
  position: absolute;
  top: 110px;
  left: 20px;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 450%;
}
.hometext2{
  position: absolute;
  left: 2%;
  bottom: 30px;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 150%;
}


.footer{

  font-style: italic;
  background-color: #702820;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
  color: white;
  font-family: 'Playfair Display', serif;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.instaId{
  height: 25px;
  width: 30px;
  float: right;
}
.facebookId{
  height: 25px;
  width: 30px;
  float: right;
}
.twitterId{
  height: 25px;
  width: 35px;
  float: right;
}
.book1photoClass{
  width: 20%;
  height: auto;
}
.book2photoClass{
  width: 20%;
  height: auto;
}
.book3photoClass{
  width: 20%;
  height: auto;
}
.p1{
  font-style: italic;
  background-color:#A07068;
  color: white;
}
.booksheader{

  font-style: italic;
  background-color: #702820;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
}

.contactusphotoClass{
  width: 90%;
}